# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 빌드 출력물
dist/
build/
storybook-static/

# 환경 변수 및 설정 파일
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# 테스트 결과물
coverage/
cypress/screenshots/
cypress/videos/

# Storybook
storybook-static/
.storybook/

# 운영체제 또는 편집기 관련
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# 롤업 또는 웹팩 캐시
.cache/
*.cache
